<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample7">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        タイトル　BSの反転ナビゲーションバーよりコピペ
      </a>
    </div>
    
    <div class="collapse navbar-collapse" id="navbarEexample7">
      <ul class="nav navbar-nav">
        <li><a href="#">メニューＡ</a></li>
        <li class="active"><a href="#">メニューＢ</a></li>
        <li><a href="#">メニューＣ</a></li>
      </ul>
      <p class="navbar-text navbar-right">ようこそ <a href="#" class="navbar-link">ゲスト</a> さん。</p>
    </div>
  </div>

</nav>


<div class="form-body">
<div class="row">
    <div class="col-xs-offset-1 col-xs-10">
        <div class="text-center">
            <h4>メールアドレスと<br>パスワードを入力してください。</h4>
        </div>
    </div>
</div>
 
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group has-icon">
      <label class="control-label sr-only" for="inputEmail">Email</label>
      <%= f.email_field :email, autofocus: true, class:"form-control", id:"inputEmail", placeholder:"メールアドレス"%>
      <span class="fa fa-envelope form-control-icon" aria-hidden="true"></span>
    </div>
    <div class="form-group has-icon">
      <label class="control-label sr-only" for="inputEmail">Password</label>
      <%= f.password_field :password, autocomplete: "off", class:"form-control", id:"inputEmail", placeholder:"パスワード" %>
      <span class="fa fa-lock form-control-icon" aria-hidden="true"></span>
    </div>
    <%= f.submit "サインイン", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
  <% end %>  
</div>



<%= render "devise/shared/links" %>

